.prices {
  // margin-left: 60px;
  &__wrap {
    padding-top: 30px;
    margin: 0 0 60px 0;
  }
  &__title {
    font-size: 40px;
    font-weight: 500;
    line-height: 108.5%;
    letter-spacing: 5.2px;
    text-transform: uppercase;
    padding-left: 180px;
  }
  &__line {
    border: 1px solid;
    margin: 20px 0 40px;
  }
  &__box {
    display: flex;
    align-items: flex-end;
  }
  &__title1 {
    position: relative;
    bottom: 115px;
    left: 0;
    font-size: 70px;
    font-weight: 800;
    line-height: 108.5%;
    letter-spacing: 9.1px;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 169%;
    letter-spacing: 1.68px;
    display: none;
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 40px;
    &-left {
      position: relative;
      width: 408px;
      height: 204px;
      background-color: #fb1b3d;
      padding: 30px 45px;
    }
    &-right {
      width: 670px;
    }
  }
  &__title {
    &-left {
      width: 175px;
      font-size: 30px;
      font-weight: 700;
      line-height: 108.5%;
      letter-spacing: 3.9px;
      text-transform: uppercase;
    }
    &-right {
      font-size: 30px;
      font-weight: 700;
      line-height: 108.5%;
      letter-spacing: 3.9px;
      text-transform: uppercase;
    }
  }
  &__btn {
    position: absolute;
    right: 60px;
    bottom: 28px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 4px;
    background-color: #fff;
    border: none;
    border-radius: 100px;
    &-text {
      font-size: 13px;
      font-weight: 700;
      line-height: 108.5%;
      letter-spacing: 1.69px;
      text-transform: uppercase;
    }
  }
  &__text-right {
    font-size: 16px;
    font-weight: 400;
    line-height: 169%;
    letter-spacing: 1.68px;
    margin: 15px 0 20px;
  }
  &__price {
    font-size: 40px;
    font-weight: 700;
    line-height: 108.5%;
    letter-spacing: 5.2px;
    text-transform: uppercase;
  }
}

@media only screen and (max-width: 1425px) {
  .prices {
    &__item-right {
      width: 500px;
    }
  }
}

@media only screen and (max-width: 1290px) {
  .prices {
    &__item-right {
      width: 450px;
    }
    &__text-right {
      margin: 10px 0 15px;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .prices {
    &__box {
      align-items: center;
    }
    &__list {
      row-gap: 50px;
    }
    &__item {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 30px;
    }
    &__title1 {
      position: static;
    }
  }
}

@media only screen and (max-width: 780px) {
  .prices {
    &__wrap {
      display: flex;
      justify-content: center;
    }
    &__title,
    &__line {
      display: none;
    }
    &__title-left {
      font-size: 25px;
    }
    &__box {
      flex-direction: column;
    }
    &__list {
      padding-top: 50px;
    }
    &__box-txts {
      display: flex;
      align-items: center;
    }
    &__title1 {
      font-size: 50px;
      letter-spacing: 6.5px;
      padding: 100px 0;
    }
    &__text {
      display: block;
      width: 252px;
      margin-right: 160px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .prices {
    &__title1 {
      font-size: 40px;
      letter-spacing: 5.15px;
      padding: 75px 0;
      margin-left: 82px;
    }
    &__text {
      font-size: 16px;
    }
    &__item {
      &-left {
        width: 350px;
        height: 175px;
        padding: 25px 40px;
      }
      &-right {
        width: 360px;
      }
    }
    &__title {
      &-left {
        width: 120px;
        font-size: 20px;
        letter-spacing: 2.6px;
      }
      &-right {
        font-size: 20px;
        letter-spacing: 2.6px;
      }
    }
    &__btn {
      width: 88px;
      height: 88px;
      right: 58px;
      bottom: 25px;
      border-radius: 88px;
      row-gap: 2px;
      &-text {
        font-size: 12px;
        letter-spacing: 1.56px;
      }
    }
    &__arrow {
      width: 55px;
    }
    &__text-right {
      font-size: 15px;
      letter-spacing: 1.575px;
      margin: 15px 0;
    }
    &__price {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 390px) {
  .prices {
    &__title1 {
      font-size: 30px;
      letter-spacing: 3.9px;
      padding: 50px 0px;
      margin-left: 102px;
    }
    &__text {
      width: 170px;
      font-size: 14px;
    }
    &__list {
      row-gap: 30px;
    }
    &__item {
      row-gap: 20px;
      &-left {
        width: 250px;
        height: 125px;
        padding: 15px 25px;
      }
      &-right {
        width: 250px;
      }
    }
    &__title-left {
      font-size: 15px;
    }
    &__btn {
      width: 64px;
      height: 64px;
      right: 40px;
      bottom: 15px;
      border-radius: 64px;
      &-text {
        font-size: 9px;
      }
    }
    &__arrow {
      width: 45px;
    }
    &__title-right {
      font-size: 15px;
    }
    &__text-right {
      font-size: 10px;
    }
    &__price {
      font-size: 25px;
    }
  }
}
