.contact {
  // margin-left: 60px;
  &__wrap {
    display: flex;
    align-items: flex-end;
    padding-top: 60px;
    margin: 0 0 60px -60px;
  }
  &__title {
    position: relative;
    left: 0;
    bottom: 190px;
    font-size: 70px;
    font-weight: 800;
    line-height: 108.5%;
    letter-spacing: 9.1px;
    text-transform: uppercase;
    transform: rotate(-90deg);
  }
  &__box {
    display: flex;
    gap: 70px;
    margin-left: -100px;
  }
  &__title2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 108.5%;
    letter-spacing: 3.15px;
    text-transform: uppercase;
  }
  &__text {
    font-size: 20px;
    line-height: 108.5%;
    letter-spacing: 2.1px;
    margin: 5px 0 50px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-size: 20px;
    font-weight: 500;
    line-height: 108.5%;
    letter-spacing: 2.1px;
    background-color: rgba(19, 19, 19, 1);
    padding: 0 16px;
    margin-left: 24px;
  }
  &__input {
    width: 530px;
    height: 70px;
    font-size: 20px;
    font-weight: 400;
    line-height: 108.5%;
    letter-spacing: 2.1px;
    border: 1px solid #fff !important;
    padding: 0 46px !important;
    margin-bottom: 32px;
  }
  &__textarea {
    width: 530px;
    height: 150px;
    font-size: 20px;
    font-weight: 400;
    line-height: 108.5%;
    letter-spacing: 2.1px;
    border: 1px solid #fff !important;
    padding: 16px 48px !important;
    margin-bottom: 32px;
  }
  &__form-btn {
    font-size: 20px;
    font-weight: 800;
    line-height: 108.5%;
    letter-spacing: 2.1px;
    text-transform: capitalize;
    padding: 15px 0;
    &:hover {
      background-color: #fb1b3d;
    }
  }
  &__box2 {
    margin-top: 111px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    margin-bottom: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
    &-link {
      font-size: 20px;
      line-height: 132.4%;
      text-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.5);
    }
  }
  &__icon {
    font-size: large;
    transform: rotate(-270deg);
    &-min {
      font-size: x-large;
    }
  }
  &__btns {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
  }
  &__btn {
    width: 250px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 25px;
    row-gap: 10px;
    color: #fff;
    background-color: initial;
    border: 2px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &:active {
      box-shadow: 1px 1px 10px #fff;
    }
    &:nth-child(3) {
      color: #000;
      background-color: #fff;
    }
    &:nth-child(3):active {
      box-shadow: 1px 1px 10px #000;
    }
    &-text {
      font-size: 20px;
      font-weight: 600;
      line-height: 132.4%;
      text-transform: uppercase;
      margin-bottom: 0;
      &:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
        text-transform: none;
      }
    }
  }
  &__follow-sm {
    margin-top: 40px;
  }
  &__follow {
    font-size: 20px;
    font-weight: 400;
    line-height: 108.5%;
    letter-spacing: 2.1px;
    text-transform: uppercase;
  }
  &__sm {
    display: flex;
    gap: 30px;
    font-size: 60px;
  }
}

@media only screen and (max-width: 1480px) {
  .contact {
    &__title {
      bottom: 140px;
      font-size: 50px;
      letter-spacing: 7.15px;
    }
    &__box {
      margin-left: -50px;
    }
    &__title2 {
      font-size: 25px;
      letter-spacing: 2.7px;
    }
    &__text {
      font-size: 17.5px;
      letter-spacing: 1.75px;
      margin: 5px 0 40px;
    }
    &__label {
      font-size: 17.5px;
      letter-spacing: 1.75px;
      padding: 0 12px;
      margin-left: 20px;
    }
    &__input {
      width: 440px;
      height: 55px;
      font-size: 18px;
      letter-spacing: 1.8px;
      padding: 0 40px !important;
      margin-bottom: 24px;
    }
    &__textarea {
      width: 440px;
      height: 125px;
      font-size: 18px;
      letter-spacing: 1.8px;
      padding: 12px 42px !important;
      margin-bottom: 24px;
    }
    &__form-btn {
      font-size: 17.5px;
      letter-spacing: 1.75px;
      padding: 12.5px 0;
    }
    &__box2 {
      margin-top: 95px;
    }
    &__links {
      margin-bottom: 46px;
    }
    &__link {
      gap: 18px;
      &-link {
        font-size: 18px;
      }
    }
    &__btns {
      gap: 40px;
    }
    &__btn {
      width: 205px;
      height: 130px;
      padding-left: 20px;
      row-gap: 7.5px;
      &-text {
        font-size: 16px;
        &:nth-child(2) {
          font-size: 14px;
        }
      }
    }
    &__follow-sm {
      margin-top: 30px;
    }
    &__follow {
      font-size: 17.5px;
      letter-spacing: 1.75px;
    }
    &__sm {
      gap: 25px;
      font-size: 48px;
    }
  }
}

@media only screen and (max-width: 1212px) {
  .contact {
    &__title {
      bottom: 111px;
      font-size: 40px;
      letter-spacing: 5.2px;
    }
    &__box {
      margin-left: -25px;
    }
    &__title2 {
      font-size: 20px;
      letter-spacing: 2.1px;
    }
    &__text {
      font-size: 15px;
      letter-spacing: 1.575px;
      margin: 5px 0 30px;
    }
    &__label {
      font-size: 15px;
      letter-spacing: 1.575px;
      padding: 0 8px;
      margin-left: 16px;
    }
    &__input {
      width: 350px;
      height: 40px;
      font-size: 16px;
      letter-spacing: 1.6px;
      padding: 0 32px !important;
      margin-bottom: 18px;
    }
    &__textarea {
      width: 350px;
      height: 100px;
      font-size: 16px;
      letter-spacing: 1.6px;
      padding: 12px 34px !important;
      margin-bottom: 18px;
    }
    &__form-btn {
      font-size: 15px;
      letter-spacing: 1.575px;
      padding: 10px 0;
    }
    &__box2 {
      margin-top: 78px;
    }
    &__links {
      margin-bottom: 42px;
    }
    &__link {
      gap: 16px;
      &-link {
        font-size: 16px;
      }
    }
    &__btns {
      gap: 30px;
    }
    &__btn {
      width: 170px;
      height: 100px;
      padding-left: 15px;
      row-gap: 5px;
      &-text {
        font-size: 12px;
        &:nth-child(2) {
          font-size: 12px;
        }
      }
    }
    &__arrow {
      width: 123px;
    }
    &__follow {
      font-size: 15px;
      letter-spacing: 1.575px;
    }
    &__sm {
      gap: 20px;
      font-size: 35px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .contact {
    &__wrap {
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      margin: 0 0 30px 30px;
    }
    &__title {
      font-size: 35px;
      letter-spacing: 6px;
      position: static;
      transform: none;
      margin-bottom: 60px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .contact {
    &__title {
      display: none;
    }
    &__box {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
    &__box2 {
      margin-left: 40px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .contact {
    &__form {
      align-items: center;
    }
    &__input,
    &__textarea {
      width: 100%;
    }
    &__form-btn {
      width: 100%;
    }
    &__box2 {
      align-items: center;
      margin-left: 0;
    }
    &__links {
      padding: 0 35px;
    }
    &__btns {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__follow {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 333px) {
  .contact {
    &__text {
      text-align: center;
    }
  }
}
